Repository dennisXZX/easyUI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
	"*.{js,json}": [
		"prettier --write"
	],
	"*.tsx": [
		"prettier --write",
		"eslint --fix"
	]
}

chore: updated gitignore file
  .gitignore
Due: none

chore: add tsconfig for build
  tsconfig.build.json
Due: prettier --write

chore: add CSS build script
  package.json
Due: prettier --write

chore: add clean up script
  package.json
  yarn.lock
Due: prettier --write

fix: fix Icon component issue missing fontawesome
  src/index.tsx
Due: prettier --write, eslint --fix

refactor: remove unnecessary file
  src/App.tsx
Due: prettier --write, eslint --fix

chore: updated package.json to include more details
  package.json
Due: prettier --write

chore: add MIT license
  LICENSE
Due: none

chore: add prepublish script
  package.json
Due: prettier --write

chore: updated dependencies and devDependencies
  package.json
Due: prettier --write

refactor: remove unused imports
  src/components/AutoComplete/auto-complete.spec.tsx
Due: prettier --write, eslint --fix

chore: add more scripts
  .huskyrc
  package.json
  yarn.lock
Due: prettier --write

chore: updated package.json
  package.json
Due: prettier --write

chore: updated README
  README.md
Due: none

chore: bump up package version
  package.json
Due: prettier --write

chore: update .gitignore
  .gitignore
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/easy-ui.iml
  .idea/encodings.xml
  .idea/inspectionProfiles/Project_Default.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
Due: none

refactor: refactor button component
  README.md
  src/components/Button/button.spec.tsx
  src/components/Button/button.tsx
Due: prettier --write, eslint --fix

refactor: refactor Menu component
  README.md
  src/components/Menu/menu-item.tsx
  src/components/Menu/menu.spec.tsx
  src/components/Menu/menu.tsx
  src/components/Menu/sub-menu.tsx
Due: prettier --write, eslint --fix

docs: update component comments
  src/components/Icon/icon.stories.tsx
  src/components/Icon/icon.style.scss
  src/components/Icon/icon.tsx
  src/components/Transition/transition.tsx
Due: prettier --write, eslint --fix

refactor: refactor Input component
  src/components/Input/input.spec.tsx
  src/components/Input/input.stories.tsx
  src/components/Input/input.tsx
Due: prettier --write, eslint --fix

refactor: refactor test cases
  src/components/Button/button.spec.tsx
  src/components/Input/input.spec.tsx
  src/components/Menu/menu.spec.tsx
Due: prettier --write, eslint --fix

refactor: refactor AutoComplete component
  src/components/AutoComplete/auto-complete.spec.tsx
  src/components/AutoComplete/auto-complete.stories.tsx
  src/components/AutoComplete/auto-complete.tsx
  src/components/Button/button.stories.tsx
  src/components/Icon/icon.stories.tsx
  src/components/Input/input.stories.tsx
  src/components/Menu/menu.stories.tsx
  src/hooks/useClickOutsideComponent.tsx
  src/hooks/useDebounce.tsx
Due: prettier --write, eslint --fix

feat: add Upload component
  .prettierrc
  package.json
  src/components/Input/input.stories.tsx
  src/components/Upload/index.tsx
  src/components/Upload/upload.stories.tsx
  src/components/Upload/upload.tsx
  src/index.tsx
  yarn.lock
Due: prettier --write, eslint --fix

chore: run Prettier over the project
  src/components/AutoComplete/auto-complete.spec.tsx
  src/components/AutoComplete/auto-complete.stories.tsx
  src/components/AutoComplete/auto-complete.tsx
  src/components/Button/button.spec.tsx
  src/components/Button/button.stories.tsx
  src/components/Button/button.style.scss
  src/components/Button/button.tsx
  src/components/Icon/icon.stories.tsx
  src/components/Icon/icon.tsx
  src/components/Input/input.spec.tsx
  src/components/Input/input.tsx
  src/components/Menu/menu.spec.tsx
  src/components/Menu/menu.style.scss
  src/components/Menu/menu.tsx
  src/components/Menu/sub-menu.tsx
  src/components/Transition/transition.tsx
  src/hooks/useClickOutsideComponent.tsx
Due: prettier --write, eslint --fix

chore: upgrade Storybook to 6
  .storybook/preview.js
  package.json
  yarn.lock
Due: prettier --write

feat: add Upload and Progress components
  .prettierrc
  src/components/Progress/index.tsx
  src/components/Progress/progress.style.scss
  src/components/Progress/progress.tsx
  src/components/Upload/dragger.tsx
  src/components/Upload/upload.stories.tsx
  src/components/Upload/upload.style.scss
  src/components/Upload/upload.tsx
  src/components/Upload/uploadList.tsx
  src/styles/index.scss
Due: prettier --write, eslint --fix

refactor: refactor Upload component
  src/components/Upload/dragger.tsx
  src/components/Upload/upload.stories.tsx
  src/components/Upload/upload.tsx
Due: prettier --write, eslint --fix

chore: update README
  README.md
  package.json
  src/index.tsx
Due: prettier --write, eslint --fix

chore: update package.json
  README.md
  package.json
Due: prettier --write

Update README.md
  README.md
Due: none
