Repository dennisXZX/easyUI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc:

{
	"*.{js,json}": [
		"prettier --write"
	],
	"*.tsx": [
		"prettier --write",
		"eslint --fix"
	]
}

chore: update lint-staged config
  .lintstagedrc
Due: none

chore: update commitlint comment
  commitlint.config.js
Due: prettier --write

refactor: split SCSS into multiple files
  src/styles/_mixin.scss
  src/styles/_normalize.scss
  src/styles/_variables.scss
  src/styles/index.scss
  src/styles/variables/_border.scss
  src/styles/variables/_box-shadow.scss
  src/styles/variables/_button.scss
  src/styles/variables/_color.scss
  src/styles/variables/_font.scss
  src/styles/variables/_input.scss
  src/styles/variables/_link.scss
  src/styles/variables/_menu.scss
  src/styles/variables/_misc.scss
  src/styles/variables/_paragraph.scss
  src/styles/variables/_progress-bar.scss
  src/styles/variables/_title.scss
  src/styles/variables/index.scss
Due: none

refactor: refactor Button component
  src/App.tsx
  src/components/Button/button.style.scss
  src/components/Button/button.tsx
  src/styles/_mixin.scss
  src/styles/variables/_font.scss
Due: prettier --write, eslint --fix

chore: update eslintrc
  .eslintrc.json
Due: prettier --write

feat: add Menu component
  .eslintrc.json
  src/App.tsx
  src/components/Button/button.style.scss
  src/components/Menu/menu-item.tsx
  src/components/Menu/menu.style.scss
  src/components/Menu/menu.tsx
  src/styles/index.scss
Due: prettier --write, eslint --fix

feat: add Menu component unit tests
  .eslintignore
  .eslintrc
  .eslintrc.json
  .prettierignore
  .prettierrc
  package.json
  src/App.tsx
  src/components/Button/button.spec.tsx
  src/components/Button/button.style.scss
  src/components/Button/button.tsx
  src/components/Menu/menu-item.tsx
  src/components/Menu/menu.spec.tsx
  src/components/Menu/menu.style.scss
  src/components/Menu/menu.tsx
  src/index.tsx
  tsconfig.json
  yarn.lock
Due: prettier --write, eslint --fix

chore: update prettier format command
  .prettierignore
  package.json
  src/styles/_mixin.scss
  src/styles/_normalize.scss
  src/styles/index.scss
Due: prettier --write

chore: format SCSS variables
  src/styles/variables/_button.scss
  src/styles/variables/_color.scss
  src/styles/variables/_link.scss
  src/styles/variables/_menu.scss
  src/styles/variables/_misc.scss
  src/styles/variables/_paragraph.scss
Due: none

style: clean up SCSS
  .prettierignore
  src/components/Button/button.style.scss
  src/styles/_mixin.scss
  src/styles/_normalize.scss
  src/styles/index.scss
  src/styles/variables/_box-shadow.scss
  src/styles/variables/_button.scss
  src/styles/variables/_font.scss
  src/styles/variables/_misc.scss
Due: none

style: clean up SCSS
  src/components/Button/button.style.scss
  src/components/Menu/menu.style.scss
Due: none

feat: update Menu component
  src/components/Menu/menu-item.tsx
  src/components/Menu/menu.spec.tsx
  src/components/Menu/menu.tsx
Due: prettier --write, eslint --fix

feat: add Submenu component
  src/App.tsx
  src/components/Menu/menu.tsx
  src/components/Menu/sub-menu.tsx
Due: prettier --write, eslint --fix

feat: add Submenu component and unit tests
  .prettierrc
  src/App.tsx
  src/components/Menu/menu-item.tsx
  src/components/Menu/menu.spec.tsx
  src/components/Menu/menu.style.scss
  src/components/Menu/menu.tsx
  src/components/Menu/sub-menu.tsx
Due: prettier --write, eslint --fix

refactor: refactor Menu component
  src/App.tsx
  src/components/Menu/menu-item.tsx
  src/components/Menu/menu.spec.tsx
  src/components/Menu/menu.style.scss
  src/components/Menu/menu.tsx
  src/components/Menu/sub-menu.tsx
Due: prettier --write, eslint --fix

feat: add Icon component
  package.json
  src/App.tsx
  src/components/Icon/icon.style.scss
  src/components/Icon/icon.tsx
  src/styles/index.scss
  src/styles/variables/_color.scss
  yarn.lock
Due: prettier --write, eslint --fix

feat: add Menu icon transition animation
  src/App.tsx
  src/components/Menu/menu.style.scss
  src/components/Menu/sub-menu.tsx
Due: prettier --write, eslint --fix

feat: add Transition component
  package.json
  src/App.tsx
  src/components/Menu/menu.style.scss
  src/components/Menu/sub-menu.tsx
  src/components/Transition/transition.tsx
  src/styles/_animation.scss
  src/styles/index.scss
  yarn.lock
Due: prettier --write, eslint --fix

feat: add Storybook
  .storybook/main.js
  package.json
  src/components/Button/button.stories.tsx
  yarn.lock
Due: prettier --write, eslint --fix

chore: add Storybook info addon
  .storybook/preview.js
  package.json
  yarn.lock
Due: prettier --write

test: fix broken Menu component tests
  src/components/Menu/menu.spec.tsx
Due: prettier --write, eslint --fix

docs: add Menu component story
  src/components/Menu/menu.stories.tsx
Due: prettier --write, eslint --fix

docs: update README
  README.md
Due: none

chore: update .gitignore
  .gitignore
Due: none

docs: update component stories
  src/components/Button/button.stories.tsx
  src/components/Menu/menu.stories.tsx
  src/components/Menu/sub-menu.tsx
Due: prettier --write, eslint --fix

docs: add Icon story
  src/components/Icon/icon.stories.tsx
  src/components/Icon/icon.tsx
Due: prettier --write, eslint --fix

feat: add Input component
  .idea/codeStyles/Project.xml
  .idea/codeStyles/codeStyleConfig.xml
  .idea/easy-ui.iml
  .idea/encodings.xml
  .idea/misc.xml
  .idea/modules.xml
  src/components/Input/input.stories.tsx
  src/components/Input/input.style.scss
  src/components/Input/input.tsx
  src/styles/index.scss
Due: prettier --write, eslint --fix

feat: add AutoComplete component
  src/components/AutoComplete/auto-complete.stories.tsx
  src/components/AutoComplete/auto-complete.style.scss
  src/components/AutoComplete/auto-complete.tsx
  src/components/Input/input.tsx
  src/hooks/useClickOutside.tsx
  src/hooks/useDebounce.tsx
  src/styles/index.scss
Due: prettier --write, eslint --fix

refactor: refactor Menu component
  src/components/Menu/menu.spec.tsx
  src/components/Menu/menu.stories.tsx
  src/components/Menu/menu.tsx
Due: prettier --write, eslint --fix

docs: add Button component comments
  src/components/Button/button.tsx
Due: prettier --write, eslint --fix

chore: update prettier printWidth to 9999
  .prettierrc
Due: none

chore: format codebase using new prettier rules
  src/App.tsx
  src/components/AutoComplete/auto-complete.stories.tsx
  src/components/AutoComplete/auto-complete.style.scss
  src/components/AutoComplete/auto-complete.tsx
  src/components/Button/button.spec.tsx
  src/components/Button/button.stories.tsx
  src/components/Button/button.style.scss
  src/components/Button/button.tsx
  src/components/Icon/icon.stories.tsx
  src/components/Icon/icon.style.scss
  src/components/Icon/icon.tsx
  src/components/Input/input.stories.tsx
  src/components/Input/input.style.scss
  src/components/Input/input.tsx
  src/components/Menu/menu.style.scss
  src/components/Menu/menu.tsx
  src/components/Menu/sub-menu.tsx
  src/components/Transition/transition.tsx
  src/hooks/useClickOutside.tsx
Due: prettier --write, eslint --fix

refactor: refactor Autocomplete component
  src/components/AutoComplete/auto-complete.tsx
  src/hooks/useClickOutside.tsx
  src/hooks/useDebounce.tsx
Due: prettier --write, eslint --fix

refactor: refactor Autocomplete component
  src/components/AutoComplete/auto-complete.tsx
  src/hooks/useClickOutsideComponent.tsx
  src/hooks/useDebounce.tsx
Due: prettier --write, eslint --fix

fix: fix Autocomplete loading icon styling issue
  src/components/AutoComplete/auto-complete.stories.tsx
  src/components/AutoComplete/auto-complete.style.scss
  src/components/AutoComplete/auto-complete.tsx
  src/components/Input/input.style.scss
Due: prettier --write, eslint --fix

feat: add animation to Autocomplete component
  src/components/AutoComplete/auto-complete.tsx
Due: prettier --write, eslint --fix

test: add unit tests for Autocomplete component
  src/components/AutoComplete/auto-complete.spec.tsx
Due: prettier --write, eslint --fix

test: update Autocomplete component unit test
  src/components/AutoComplete/auto-complete.spec.tsx
Due: prettier --write, eslint --fix

refactor: clean up unused imports
  src/hooks/useClickOutsideComponent.tsx
Due: prettier --write, eslint --fix

refactor: simplify component imports
  src/components/AutoComplete/index.tsx
  src/components/Button/index.tsx
  src/components/Icon/index.tsx
  src/components/Input/index.tsx
  src/components/Menu/index.tsx
  src/components/Transition/index.tsx
  src/index.tsx
Due: prettier --write, eslint --fix
